@keyframes rotation {
  0% {
    transform: rotateZ(var(--start-angle));
  }
  100% {
    transform: rotateZ(var(--end-angle));
  }
}

#gradient {
  --color1: 19, 178, 211;
  --color2: 212, 195, 42;
  --color3: 124, 83, 159;
  --color4: 239, 222, 218;
  --color5: 229, 163, 173;
  --color6: 137, 212, 42;

  position: relative;

  & #subtitle {
    position: relative;
    right: -1em;
    z-index: 1;

    display: flex;
    align-items: center;

    margin-top: -4rem;

    font-size: var(--lg);
    
    padding: 0.4em;
    border: 2px solid var(--white);

    & h4 {
      width: 4em;
      display: flex;
      flex-direction: column;
      justify-content: start;
      
      text-align: left;
      letter-spacing: 0.8em;
      transform: translateX(0.5em);
      color: var(--white);
    }

    @media screen and (max-width: 640px) { 
      border-width: 1px;
      font-size: var(--md);
    }
  }

  & #gradient-title {
    max-width: 90vw;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 0.25rem solid var(--white);
    background: linear-gradient(90deg, rgba(var(--color1), 0.4) 0%, rgba(var(--color2), 0.4) 45%, rgba(var(--color3), 0.4) 100%);
  
    & h2 {
      position: relative;
      z-index: 1;
      font-size: var(--2xl);
      letter-spacing: 0.8em;
      transform: translateX(0.4em);
    }

    @media screen and (max-width: 640px) {

      & h2 {
        font-size: calc(var(--xl) * 1.5);
        word-break: break-all;
        letter-spacing: 0.6em;
      }
    }
  }

  & #palette {
    position: absolute;
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    & .palette-color {
      position: absolute;

      border-radius: var(--radius);
      width: 94vh;
      height: 30vh;
      background: radial-gradient(50% 50% at 50% 50%, rgba(var(--color), 0.9) 0%, rgba(var(--color), 0.1) 100%);
      /* transform: rotateZ(var(--angle)); */
      animation-name: rotation;
      animation-duration: var(--duration);
      animation-delay: var(--delay);
      animation-iteration-count: infinite;
    }

    @media screen and (max-width: 640px) {
      & .palette-color {
        width: 80vh;
        height: 20vh;
      }
    }

    & .palette-color:nth-child(1) {
      --radius: 30vw;

      --color: var(--color1);
      --start-angle: 0deg;
      --end-angle: calc(var(--start-angle) - 360deg);
      --duration: 8s;
      --delay: 0s;
    }
    & .palette-color:nth-child(2) {
      --radius: 20vw 20vw 20vw 20vw;

      --color: var(--color2);
      --start-angle: 35deg;
      --end-angle: calc(var(--start-angle) + 360deg);
      --duration: 10s;
      --delay: 0s;
    }
    & .palette-color:nth-child(3) {
      --radius: 20vw 20vw 20vw 20vw;

      --color: var(--color3);
      --start-angle: 70deg;
      --end-angle: calc(var(--start-angle) - 360deg);
      --duration: 9s;
      --delay: 0;
    }
    & .palette-color:nth-child(4) {
      --radius: 20vw 40vw 20vw 30vw;

      --color: var(--color4);
      --start-angle: 105deg;
      --end-angle: calc(var(--start-angle) + 360deg);
      --duration: 5s;
      --delay: 0s;
    }
    & .palette-color:nth-child(5) {
      --radius: 40vw 50vw 40vw 30vw;

      --color: var(--color5);
      --start-angle: 140deg;
      --end-angle: calc(var(--start-angle) + 360deg);
      --duration: 7s;
      --delay: 0;
    }
    & .palette-color:nth-child(6) {
      --radius: 30vw;

      --color: var(--color6);
      --start-angle: 175deg;
      --end-angle: calc(var(--start-angle) + 360deg);
      --duration: 12s;
      --delay: 0;
    }

    & .palette-color:nth-child(7) {
      --radius: 30vw;

      --color: var(--color1);
      --start-angle: 200deg;
      --end-angle: calc(var(--start-angle) - 360deg);
      --duration: 11s;
      --delay: 0s;
    }
    & .palette-color:nth-child(8) {
      --radius: 20vw 20vw 20vw 20vw;

      --color: var(--color2);
      --start-angle: 235deg;
      --end-angle: calc(var(--start-angle) - 360deg);
      --duration: 14s;
      --delay: 0s;
    }
  }
}